.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49px;
  text-decoration: none;
  // background-image: linear-gradient(to right, #1e39a7 0%, #2575fc 100%);

  &.active {
    background-image: $menu-active-bg;
    .menu-title {
      color: $menu-active-color;
    }
  }
  border-radius: 8px;
  padding: 3px;
  box-sizing: border-box;
  height: 49px;
  justify-content: space-between;
  cursor: pointer;
  @include useIcon;

  &:not(:first-child) {
    margin-top: 6px;
  }

  .menu-title {
    font-size: 0.6rem;
    color: rgb(177, 170, 170);
  }
}
