
.aside {
  width: calc(#{$siderbar-width} + var(--base-siderbat-width, 0px));
  transition: all 400ms ease;
  background-color: $siderbar-bg;
  display: flex;
  &::-webkit-scrollbar {
    width: 0;
  }

  .fead-sidebar {
    &-enter-active,
    &-leave-active {
      transition: 600ms all ease;
      position: relative;
      opacity: 1;
    }

    &-enter-from,
    &-leave-to {
      transform: translateX(-120%);
      opacity: 0;
    }
  }
  .menu {
    padding: 20px 13px;
    transition: all 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 0px 12px;
    position: relative;
    z-index: 1;
    background-color: $siderbar-bg;
  }
}
