$navbar-height: 48px;
$navbar-bg: rgb(23, 36, 70);

$menu-active-color: white;
$menu-active-bg: linear-gradient(to right, #1e39a7 0%, #48c6ef 100%);

$siderbar-bg: rgb(4, 31, 90);
$siderbar-width: 75px;

$footer-bar-height: 50px;
