.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .header {
    line-height: 48px;
    background-color: rgb(23, 36, 70);
  }

  .continer {
    height: 100%;

    .aside {
      width: 86px;
      background-color: rgb(28, 46, 86);
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
    }

    .main {
      background-color: rgb(236, 241, 253);
      height: inherit;
      box-sizing: border-box !important;
      &-box {
        padding: 20px;
        background-color: white;
        border-radius: 13px;
        height: calc(100% - (3 * 40px));
        overflow-y: auto;
      }
    }

    .footer {
      box-shadow: 0 10px 20px -2px rgb(57, 58, 59);
      height: 70px;
    }
  }
}
