@use '@/style/var' as *;
.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;

  .header {
   height: 48px;
    background-color: rgb(23, 36, 70);
  }

  .continer {
    height: 100%;

    .aside {
      width: $siderbar-width;
      background-color: rgb(4, 31, 90);
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
    }

    .content-bg {
      background-color: rgb(236, 241, 253);
    }
    .content-header{
      padding: 1rem;
      height: min-content;
    }

    .main {
      padding-bottom: 0;
      padding-top: 0;
      display: flex;
      &-box {
        background-color: white;
        margin-bottom:60px  +  $footer-bar-height ;
        box-sizing: border-box;
        flex: 1;
      }
    }

    .footer {
      box-shadow: 0 -4px 5px -4px rgba(57, 58, 59, 0.5);
      height: $footer-bar-height;
      position: fixed;
      bottom: 0;
      left: $siderbar-width;
      right: 0;
      background-color: white;
    }
  }
}

